.container {
  display: flex;
  background: black;
  color: white;
}
.content {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px;
}
.projects {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 600px) {
  .content {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .content {
    padding: 0 40px;
  }
}
