.container {
  width: 100%;
  background-color: black;
  color: white;
  .intro {
    max-width: 1366px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    .text {
      display: flex;
      flex-direction: column;
      .title {
        font-size: 3rem;
        line-height: 1.3;
        .name {
          color: royalblue;
        }
      }
      .desc {
        margin: 10px 0;
        color: silver;
      }
      .resume {
        display: block;
        background-color: royalblue;
        border: 1px solid royalblue;
        border-radius: 5px;
        margin-top: 10px;
        padding: 7px 12px;
        max-width: fit-content;
        text-transform: uppercase;
        transition: all 0.15s ease-in-out;
      }
      .resume:hover {
        box-shadow: 0 0 10px 0 royalblue inset, 0 0 20px 2px royalblue;
        border: 1px solid royalblue;
      }
    }
    .details {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      .img {
        display: block;
        max-width: 200px;
        border-radius: 50%;
      }
      .social {
        list-style: none;
        display: flex;
        gap: 15px;
        padding: 0;
        font-size: 0.8rem;
        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5px;
          cursor: pointer;
          .icon {
            width: 20px;
          }
        }
        .item:hover {
          text-decoration: underline;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .intro {
      padding: 80px 40px 40px 40px;
    }
  }
  @media (max-width: 600px) {
    .intro {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 0;
      .text {
        .resume {
          margin-inline: auto;
          font-size: 0.9rem;
          padding: 5px 10px;
        }
        .title {
          font-size: 2.2rem;
        }
        .desc {
          font-size: 0.9rem;
        }
      }
      .details {
        gap: 15px;
        .img {
          max-width: 120px;
        }
        .social {
          gap: 15px;

          .item {
            .icon {
              width: 16px;
            }
          }
        }
      }
    }
  }
}
