.container {
  display: flex;
  flex-direction: column;
}
.content {
  padding: 20px;
  margin-bottom: 50px;
  max-width: 1366px;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .content {
    padding: 0 40px;
  }
}

@media (max-width: 600px) {
  .content {
    text-align: center;
  }
}
