.container {
  background-color: #000000;
  color: white;
}

.content {
  display: flex;
  max-width: 1366px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  p {
    text-align: center;
    margin: 20px 0;
  }
}
@media (min-width: 768px) {
  .content {
    padding: 0 40px;
  }
}
